@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Acme";
  scroll-behavior: smooth;
}

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.login-header .title {
  width: 100%;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 5px 30px 0 30px;
  box-shadow: 2px 2px 2px rgb(199, 199, 199);
}

/* navbar */

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: rgb(245, 245, 245);
  --bg-secondary: rgb(199, 199, 199);
  --transition-speed: 600ms;
}

.navbar {
  position: fixed;
  background-color: #007bff;
  transition: width 600ms ease;
  z-index: 999;
  overflow: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navbar-icons {
  font-size: 30px;
  margin: 0 22px;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: white;
  color: black;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.fa-primary {
  color: #007bff;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.pl-05 {
  padding-left: 0.12rem !important;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: white;
  background: white;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.logo-text {
  color: black;
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* content */
.content-space {
  margin-left: 7rem;
}

.card {
  background-color: #ececec;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 50px;
}

.bg-darkblue {
  background-color: #1381ff;
}

.bg-darkred {
  background-color: #ff1313;
}

.bg-darkgreen {
  background-color: #12c412;
}

.font-white {
  color: white;
}

.font-uppercase {
  text-transform: uppercase;
}

.text-decoration-none {
  text-decoration: none;
}

.breadcrumb-item:hover a {
  color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
}

.width-100 {
  width: 100%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-20 {
  width: 20%;
}

.width-10 {
  width: 10%;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center !important;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 7rem;
    height: 100vh;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 10.5rem;
  }
}

@media (max-width: 767px) {
  .login-image {
    margin-top: 10em;
  }
}
